<!doctype html>
<html>
<head>
  <title>Socket.IO chat</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <style>
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { font: 13px Helvetica, Arial; }
    form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
    form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
    form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }

    #userlist { list-style-type: none; margin: 0; padding: 0; }
    #userlist li { padding: 5px 10px; }
    #userlist li:nth-child(odd) { background: #eee; }
    .fromUser{
      color: blue;
    }
    .privateMsg{
      color: red;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">

      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
       <h3>使用者清單</h1>
        <ul id='userlist'></ul>
      </div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h3>聊天清單</h3>
        <ul id="messages"></ul>  
      </div>

    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


      <form action="">
        <input id="m" autocomplete="off" /><button class='btn'>Send</button>
      </form>
    </div>
  </div>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
    var socket = io();
    $('form').submit(function(){
      var to = [];
      $('.selectUser').each(function(){
        if($(this).prop('checked')){
          to.push($(this).attr('value'));
        }
      });
      console.log(to);
      socket.emit('chat message', 
          { to: to, 
            message: $('#m').val()
          });
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg){
      var chatmsg = $('<li>');
      if (msg.isPrivate){
        console.log(msg.content);
        chatmsg.append('<span class="fromUser privateMsg">' + msg.from + '</span>' + ' : ' + msg.content);
      } else {
        chatmsg.append('<span class="fromUser">' + msg.from + '</span>' + ' : '  + msg.content);
      }
       $('#messages').append(chatmsg);
      //  $('#messages').append($('<li>').text(msg.from + ' : ' + msg.content));
    });

    socket.on('user list modify', function(userList){
      $('#userlist').empty();
      userList.forEach(function(element, index, array){
        var html = $('<li>')
        .append(
          $('<div class="checkbox">')
          .append('<label><input class="selectUser" type="checkbox" value="' + element + '"> ' + element + '</label>')
          );                    
        $('#userlist').append(html);
        
      })
    })
  </script>
</body>
</html>