<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/login" method="get">
		<span>User Name:</span>
		<input type="text" name="username" id="username" placeholder='input name'></input>
		<button type="submit" id="btnsubmit">submit</button>
	</form>
</body>
</html>